body {
   margin: 0;
   font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
      'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
      'Helvetica Neue', sans-serif;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   .ant-typography {
      margin-bottom: unset;
   }
}

code {
   font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
      monospace;
}
*:focus {
   outline: none
}


.search-list {
   .search-list-item {
      display: flex;
      //justify-content: space-between;
      align-items: center;
      margin-bottom: 15px;
      .ant-typography{
         margin: unset;
      }
      .last-title-item{
         margin-left: auto;
      }
      & img {
         max-height: 50px;
         border-radius: 50%;
         margin-right: 30px;
      }
   }
}
.preloader {
   width: 100%;
   text-align: center;
}
