.profile {
   .avatar_image {
      border-radius: 50%;
      max-height: 300px;
      max-width: 300px;
      width: 100%;
      object-fit: cover;
   }
   .details_divider {
      margin: 12px 0;
   }

   .ant-row {
      @media screen and(max-width: 767px) {
         text-align: center;
      }
   }
}
